# Secret Key
SECRET_KEY=yourSecretKey

# MongoDB Configuration (assume no authentication set up for your local mongodb)
MONGO_DB= your database name(on local now)
MONGO_HOST=your localhost
MONGO_PORT= your port for MongoDB (default: 27017)
