# MongoDB Connection String
MONGO_URI=mongodb://localhost:27017/

# Flask Secret Key (used for session management)
SECRET_KEY=your_secret_key_here

# Flask Environment
FLASK_ENV=development
FLASK_DEBUG=1 