# MongoDB Configuration
MONGO_URI="mongodb://username:password@localhost:27017/database_name"
MONGO_DBNAME="database_name"


# Flask Configuration
SECRET_KEY="your_secret_key"
FLASK_ENV="development"


