[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
flask-login = "*"
blinker = "*"
click = "*"
python-dotenv = "*"
flask-debugtoolbar = "*"
itsdangerous = "*"
jinja2 = "*"
werkzeug = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
