{% extends "layout.html" %}

{% block title %}SEARCH TASKS{% endblock %}

{% block content %} 
    <ul>
        <li>
            <form action="/search_results" method="get">
                <input required type="text" name="search" id="search" placeholder="Search Query">
                <select name="filter" id="filter">
                    <option value="exp">By EXP Value</option>
                    <option value="date">By Date</option>
                </select>
                <input type="submit" name="submit" value="Search">
            </form>
        </li>
    </ul>
{% endblock %} 