@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
    font-family: 'Indie Flower', cursive;
    overflow-y:hidden
}

nav{
    display: flex;
    align-items: center;
    height: 100px;
    padding: 12px;
}

.home-container{
    padding:12px; 
}

.search-icon{
    width: 60px;
    height: 60px; 
}

.bubble-container {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; 
    z-index: 2; 
}

.bubble-img{
    height:860px;
}

.bear-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height:90vh;
}

.dream-button{
    position:absolute; 
    width:260px; 
    height:198px;
    z-index: 2;
    font-size: 24pt;
    font-family: 'Indie Flower', cursive;
    top:80%;
    left: 50%;
    transform: translateX(-50%); 
    fill:none;
    background-color: white;
    border: 12pt solid black;
    border-radius: 5pt;
}

.edit-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    /* align-items: center;  */
    width: 100vw;
    height: 100vh;
}

#tag-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    gap:50px;
    padding:12px;
    margin-top:80px;
}

.tag{
    width:156px;
    height:67px;
    font-size:24pt;
    background-color: transparent;
    border: 2pt solid black;
    border-radius: 5pt;

}

.back-link{
    font-size: 24pt;
    text-decoration: none;
    padding:50px 10px;
    color:black;
}

.input-container{
    display:flex;
    justify-content:center;
    margin-top: 40px;
}

#dream-description {
    width: 80%; 
    max-width: 624px; 
    height: 400px; 
    padding: 10px;
    font-size: 18px;
    box-sizing: border-box;
    border: 2px solid black; 
}

.button-container{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-top:40px;
}

.edit-button{
    width: 156px;
    height:67px;
    font-size:24pt;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px
}

.bear{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height:auto;
}

.analysis-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    /* align-items: center;  */
    width: 100vw;
    height: 100vh;
}

#dream-search{
    width:624px;
    height: 42px; 
    font-size:24pt;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}