<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Home | LFG App</title>
</head>
<body>
    <h2>Welcome, <span style="color: blue;">{{ current_user.username }}</span></h2>
    <a href="{{ url_for('logout') }}">Logout</a>

    <h3>Looking For Group (LFG) Listings</h3>
    
    <!-- Search Form -->
    <form action="{{ url_for('search') }}" method="POST">
        <input type="text" name="query" placeholder="Search for a game or description..." required>
        <button type="submit">Search</button>
    </form>

    <br>
    <a href="{{ url_for('create_lfg') }}">Create New LFG Post</a>

    <hr>

    {% for post in lfg_posts %}
        <div class="post">
			<strong>{{ post.game }} - {{ post.level_required }}</strong> <br>
			{{ post.description }} <br>

			<div class="lfg-buttons">
				<a href="{{ url_for('edit_lfg', id=post._id_str) }}" class="edit-btn">Edit</a>
				<form action="{{ url_for('delete_lfg', id=post._id_str) }}" method="POST">
					<button type="submit" class="delete-btn" onclick="return confirm('Are you sure?');">Delete</button>
				</form>
			</div>
		</div>

        <hr>
    {% endfor %}
</body>
</html>
