.Back {
    margin-top: 10%;
    margin-left: 10%;
    flex-direction: column;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 20vw;
    height: 5vh;
    border: solid #B96B50;
    font-size: 5vw;
    background-color: #F9DFA0;
    color: #C88246;
}

a {
    text-decoration: none;
}

.Title {
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B96B50;
    
}

.item {
    border: #F9DFA0;
    display: flex;
    height: 8vh;
    margin-left: 5vw;
    margin-right: 5vw;
    flex-direction: row;
    align-items: center;
    background-color: #F8F5E5;
    color: #C88246;
   
}
.name {
    font-size: 6vw;
    padding-left: 6vw;
}
.amount {
    font-size: 6vw;
    padding-left: 2vw;
}
.subtotal {
    padding-left: 18vw;
    font-size: 6vw;
    padding-right: 4vw;
}

.Total {
    background-color: #F8F5E5;
    text-align: center;
    font-size: 6vw;
    border: #F9DFA0;
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 8vh;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: #B96B50;
    margin-bottom: 3vh;
}

body {
    background-color: #F7EDD3;
}

.billing {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 5vw;
    color: #B96B50;
}