

#menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 2250px;
    margin-bottom: 120px;
}

form{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

input{
    width: 450px;
    height: 50px;
    font-size: 40px;
    border: solid 2px black;
    color: black;
}
button{
    width: 300px;
    height: 56px;
    font-size: 40px;
    background-color: #FADEC2;

}

.nav{
    display: flex;
    justify-content: space-between;

}

.cart{
    margin-top: 10%;
    margin-left: 16%;
    
}
#cartImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 10%;
    margin-left: 10%;

}

.category{
    border: solid 2px black;
    width: 700px;
    height: 240px;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

img{
    height: 240px;
    width: 240px;
    object-fit: cover;
}

.title{
    font-size: 80px;
    text-align: center;
    width: 460px
}

h2{
    text-align: center;
    font-size: 80px;
}


a{
    font-size: 40px;
    text-decoration: none;
    color:black;
}

a:visited{
    color: black;
}

.Back {
margin-top: 10%;
margin-left: 10%;
flex-direction: column;
display: flex;
text-align: center;
justify-content: center;
width: 20vw;
height: 5vh;
border: solid;
font-size: 5vw;
}
