body {
    background-color: #F7EDD3;
}
.Back {
    margin-top: 10%;
    margin-left: 10%;
    flex-direction: column;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 20vw;
    height: 5vh;
    border: solid #B96B50;
    font-size: 5vw;
    background-color: #F9DFA0;
    color: #C88246;
}

a {
    text-decoration: none;
}

.Title {
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B96B50;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 3vh;
}

.ordertitle {
    text-align: center;
    color: #B96B50;
    font-size: 8vw;
}

.order {
    background-color: #F8F5E5;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vh;
    padding: 5vw;
}

.name {
    font-size: 3vw;
    color: #B96B50;
    margin-bottom: -3vw;
}
.itemdesc {
    margin-top: 6vw;
    display: flex;
    justify-content: space-between;
    font-size: 5vw;
    color: #D09673;
}

.itempricing {
    display: flex;
    justify-content: space-between;
    font-size: 5vw;
    color: #D09673;
}
.total {
    margin-top: 3vh;
    font-size: 5vw;
    color: #B96B50;
}

.address {
    font-size: 4vw;
    color: #D09673;
}

.end {
    display: flex;
    justify-content: space-between;
    font-size: 3vw;
    color: #FBD1AC;
}

.remove {
    border: solid;
    margin-top: 2vh;
    text-align: center;
    padding-top: 1vw;
    background-color: #F9DFA0;
    color: #C88246;
    border: solid #B96B50;
    font-size: 4vw;
}

.button {
    color: #B96B50;
}

.card {
    font-size: 3vw;
}