.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > nav{
    padding-left: 60px;
}

.manage-apt-button{
    align-self:center;
    margin-top: 140px;
    width: 93%;
    background-color: #d1d1d1;
    padding: 30px;
    border-radius: 8px;
    height: 600px;
    font-size: larger;

}

.manage-guest-button{
    align-self:center;
    margin-top: 140px;
    width: 93%;
    background-color: #d1d1d1;
    padding: 30px;
    border-radius: 8px;
    height: 600px;
    font-size: larger;
}