body{
    font-family: Monaco, Monospace;
}

.form-group {
    margin-bottom: 3vh;
    max-width: 50vh;
}

.form-group label {
    display: block;
    color: #2c3e50;
    margin: 10px 0;
    font-size: 2vh;
    letter-spacing: -1px;
}

.list-item-container{
    width: 30vw;
    height: fit-content;
    min-height: 4vh;
    margin-bottom: 1vh;
}


.list-item-label{
    color: #2c3e50;
    margin: 10px 0;
    margin-right: 5px;
    font-size: 2vh;
    letter-spacing: -1px;
}

.form-group input {
    width: 94%;
    padding: 5px 15px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 2vh;
    height: 3vh;
}

.form-group select{
    width: 100%;
    padding: 5px 15px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 4.5vh;
    font-size: 2vh;
}

.form-group textarea{
    height: 600px;
    width: 100%;
    padding: 8px;
    margin-right: 2vw;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 20px;
}

/* .toggle-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.toggle-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 4px;
} */

.save-btn {
    background: #28a745 !important;
}

.save-btn:hover {
    background: #218838;
}

.section {
    margin-top: 100px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    /* border-bottom: 1px solid #333; */
    /* background-color: #4CAF50; */
}

.section-title{
    font-size:4vh;
    font-weight: bolder;
    color: #333;
    margin-bottom: 30px;
}

.section-content{
    display: grid;
    grid-template-columns: 45% 55%;
    /* gap: 0px 40px; */
    padding-left: 20px;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
    transform: scale(2);
    padding-bottom: 0.5rem;
}

.confirmation-button-container{
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: end;
    gap: 30px;
}


button{
    padding: 10px 20px;
    width:fit-content;
    background: rgb(208, 208, 208);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: fit-content;
    font-size: 3vh;
    font-weight: bold;
    font-family: monospace;
}

a{
    text-decoration: none;
    color: black;
}   