.confirmation-message-container{
    margin-top: 150px;
    display: flex;
    justify-content: center;

}

.confirmation-message{
    font-size:55px;
    font-weight: bolder;
    align-self: center;
    text-align: center;
}

.userinfo-container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap:100px

}

.user-avatar-container {
    display: flex;
    justify-content: center;
}

.user-avatar {
    width: 300px;
    height: 300px;
    padding:20px;
    background: #212e33;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color:#ffffff;
    font-size: larger;
}

.user-details-container{
    padding-left: 50px;
}

.info-text{
    font-size: 50px;
}

.confirmation-button-container{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

button{
    padding: 10px 20px;
    width: 200px;
    background: rgb(208, 208, 208);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 100px;
    font-size:50px;
    font-family: monospace;
}

a{
    text-decoration: none;
    color: black;
}