h1 {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	margin: auto;
	margin-bottom: 50px;
}
th, td {
    padding: 10px;
    text-align: middle;
}

body {
	background: linear-gradient(135deg, #f0f4f8, #d9e2ec);
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 20px;
}

.container {
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	padding: 40px;
	max-width: 800px;
	margin: 0 auto;
}

.container h1 {
	font-size: 2.5em;
	color: #333;
	text-align: center;
	margin-bottom: 20px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
	font-size: 1.2em;
	line-height: 1.6;
	color: #555;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 1em;
}

.home-page {
	text-align: center;
	margin: 40px auto;
}

.home-page h2 {
	font-size: 2em;
	margin-bottom: 20px;
	color: #333;
}

.home-page a button,
.home-page button {
	padding: 12px 24px;
	margin: 0 10px;
	font-size: 1em;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	background-color: #007bff;
	color: #fff;
}

.home-page a button:hover,
.home-page button:hover {
	background-color: #0056b3;
}

.home-table {
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
	align-items: center;
}

.home-add a button {
	margin: 20px auto;
	text-align: center;
	width: 50%;
}
.home-search {
	margin: 20px auto;
	text-align: center;
	display: flex;
	width: 90%;
	justify-content: space-evenly;
}

.home-search input {
	width: 300px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 10px;
	height: 50px;
}

.home-search button {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	height: 50px;
	width: 45%;
	text-align: center;
}


form {
	width: 90%;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #f9f9f9;
}

form div {
	margin-bottom: 15px;
}

form label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

form input[type="text"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

form button {
	display: block;
	margin: 20px auto 0;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}

form button:hover {
	background-color: #0056b3;
}