.heading{
    text-align: center;
    padding: 30px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    margin: 0;
    padding: 0;
}

.email{
    padding-bottom: 30px;
}

.password{
    padding-bottom: 30px;
}

.input1{
    width: 330px;
    height: 20px;
}

.input2{
    width: 330px;
    height: 20px;
}

.button{
    text-align: center;
    padding-top: 20px;
}

input[type=submit]{
    width: 110px;
    height: 35px;
    cursor: pointer;
    border-radius: 8px;
    border: solid 1.5px gray;
}