* {
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.wrapper{
    display: flex;
    justify-content: center;
}

header{
    background-color: #bbe7fe;
    height: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.name{
    border: solid 0px black;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16pt;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.logout{
    border: solid 0px black;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    color: black;
    font-size: 12pt;
    font-weight: bold;
}

.heading{
    text-align: center;
    padding: 40px;
}

.search-bar{
    width: 605px;
    height: 35px;
    padding-left: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: solid 1.5px gray;
}

.search-button{
    width: 80px;
    height: 40x;
    cursor: pointer;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: solid 1.5px gray;
    border-left: none;
    background-color: lightgray;
}

.search-button:hover{
    background-color: #bbe7fe;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.event-container {
    width: 100%;
    max-width: 700px;
}

.event-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}

.event-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.event-strip {
    height: 10px;
    width: 100%;
}

.education { background: #bbe7fe; }
.networking { background: #d3b5e5; }
.extracurricular { background: #ffd4db; }
.other { background: #eff1db; }

.event-content {
    padding: 15px;
}

.event-title {
    font-size: 18px;
    font-weight: bold;
}

.event-info {
    font-size: 14px;
    color: #555;
}