.wrapper{
    display: flex;
    justify-content: center;
    gap: 10px
}

.heading{
    text-align: center;
    padding: 20px;
}

.search-bar{
    width: 500px;
    height: 30px;
}

.search-button{
    width: 80px;
    height: 35px;
    cursor: pointer;
}

.list{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.event{
    border: solid 1px black;
    width: 600px;
}