* {
    margin: 0;
    padding: 0;
}

.container{
    font-family: Arial;
}

.wrapper{
    display: flex;
    justify-content: center;
}

header{
    background-color: lightblue;
    height: 55px;
    display: flex;
    justify-content: space-between;
}

.name{
    border: solid 0px black;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16pt;
    font-weight: bold;
}

.logout{
    border: solid 0px black;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    color: black;
    font-size: 12pt;
    font-weight: bold;
}

.heading{
    text-align: center;
    padding: 30px;
}

.search-bar{
    width: 605px;
    height: 35px;
    padding-left: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: solid 1.5px gray;
}

.search-button{
    width: 80px;
    height: 40x;
    cursor: pointer;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: solid 1.5px gray;
    border-left: none;
    background-color: white;
}

.search-button:hover{
    background-color: #FFD4DB;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.event{
    border: solid 1px black;
    width: 700px;
}
