header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #000;   */
    height: 15vh;
    background-color: #f4f4f4;
}

#top-left-logo-image{
    /* width:100%; */
    max-width: 15vh;
    /* max-height: 300px; */
}

#header-middle{
    display: flex;
    width: auto;
    justify-content: end;
    align-items: center;
    /* padding: 0px 40px; */
    gap: 10px
}

#header-middle div nav a{
    text-align: center;
    font-size: 1.5vh;
    max-width: 6vh;
    /* background-color: #474747; */
}

#header-middle div nav{
    text-align: center;
}

#header-middle div{
    max-width: 10vh;
}

#header-middle-container{
    display: flex;
    justify-content: end;
    width: auto;
}

#top-right-avatar-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 15vh;
}

#top-right-username{
    width: 100%;
    font-size: 2vh;
    text-align: center;
}

#user-avatar-image{
    width: 12vh;
}

html, body {
    font-family: Monaco, Monospace;
    font-size: 2vh;
    background-color: #ffffff;
    /* background-color: aqua; */
    width: 100vw;
    margin: 0;
    padding: 0;
    /* min-width: 100vw; */
    /* width: 100vw; */
}

.all-container{
    /* min-width: 100vw; */

}

main{
    min-height: 75vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

footer{
    /* height: 20vh; */
    background-color: #f4f4f4;
    align-content: center;
}

footer p{
    text-align: center;
    font-size: 1.5vh;
    color:#7e7e7e
}

.basic-info-container{
    margin-top: 50px;
}

.avatar-username-container {
    display: flex;
    column-gap: 60px;
}

.username-identity-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sub-info-container{
    display: flex;
    flex-direction: column;
}

.sub-info-container :first-child{
    color:gray;
    font-size: 40px;
    border-bottom: 1px solid #000;
    width: fit-content;
}

.sub-info-container :nth-child(2){
    color:#474747;
    font-weight: bold;
    padding:5px
}

#identity{
    color:gray;
    font-size: 40px;
}

#email-container{
    margin-top: 20px;
}

.subtitle{
    font-size:4vh;
    font-weight: bolder;
}

.aptlist-display-container{
    margin-top: 10vh;
    margin-bottom: 4vh;
}

.aptlist-widget-container{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    /* gap:4vh; */
}

.aptlist-widget-container>ul{
    list-style-type:none;
    padding-left: 0px;
    margin:0px
}

.aptlist-widget-container>ul>li{
    margin-bottom:4vh;
    margin:0px

}

.apt-widget {
    width: 93%;
    background-color: #d1d1d1;
    /* padding: 1vh 1vw; */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    min-height: 20vh;
    /* max-width: 50vh; */
}

.apt-widget p{
    margin:5px;
}

.delete-icon-container{
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;
    top: -2vh;
    left: 80vw;
    /* width: 3vh;
    height: 3vh; */
    background-color: transparent;
}

.delete-icon-container > form > button{
    background-color: transparent;
    border: transparent;
}

.delete-icon{
    width: 3vh;
    height: 3vh;
}

.empty-space{
    width: 3.5vh;
    height: 3.5vh;
}

.aptlist-apt-content {
    display: flex;
    letter-spacing: -1px;
    margin-top:-3.5vh
    /* justify-content: space-between;
    align-items: center; */
}

.wishlist-apt-content {
    display: flex;
    letter-spacing: -1px;
    /* justify-content: space-between;
    align-items: center; */
}

.apt-details {
    flex: 1;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.apt-price {
    font-size: 3vh;
    font-weight: bold;
}

.apt-type-and-size{
    font-size: 2vh;
    color: #000;
}

.apt-available-date {
    margin-top: 20px;
    color: #888;
    font-size: 2vh;
}

.apt-building-name-apt-num-container{
    /* margin-top: 1vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.apt-building-name{
    /* margin-top: 2vh; */
    color: #888;
    font-size: 2vh;
    padding-left: 5px;
}

.apt-apt-num{
    /* margin-top: 2vh; */
    margin-right: 1vw;
    color: #888;
    font-size: 2vh;
}

.apt-area{
    position: relative;
    color: #888;
    font-size: 2vh;
    padding-left: 5px;
    /* white-space: nowrap; */
}

.apt-image {
    width: 10vh;
    height: 10vh;
    padding:20px;
    margin-top: 20px;
    margin-right: 15px;
    background: #212e33;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color:#ffffff;
    font-size: larger;
}

.logout-container{
    display: flex;
    justify-content: center;
    height: 200px;
    margin-bottom: 60px;
}

.logout-button{
    background-color: #d1d1d1;
    border-radius: 20px;
    width: 50%;
    align-self: center;
    height: 100px;
    padding:10px;
    font-size: 40px;
    font-family: Monaco, Monospace;
    font-weight: bold;
}

.admin-replace-aptlist-container{
    min-height: 900px;
}

.search-section {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;


}

.search-form {
    display: flex;
    gap: 30px;
}

.search-form div {
    width: 40vw;
}

.search-form input {
    padding: 8px 15px;
    border: 2px solid #a4a4a4;
    border-radius: 4px;
    width: 35vw;
    height: 3vh;
    font-family: Monaco, Monospace;
    letter-spacing: -1px;
    font-size: 2vh;
}

.search-form button {
    padding: 8px 3vw;
    background: #4a5568;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:fit-content;
    height: 5vh;
    font-family: Monaco, Monospace;
    font-size: 2vh;

}

.search-result {
    margin-top: 0.5rem;
    color: gray;
    font-size: 2vh;
    padding-left: 0.5rem;
}

a {
    color: black;
    text-decoration: none;
}