MONGO_URI = "mongodb+srv://username:password@some-cluster.1tfob.mongodb.net/?retryWrites=true&w=majority&appName=some-cluster"
MONGO_DBNAME = "some_db_name"
SECRET_KEY = "secretkeysecretkey"
FLASK_APP=app.py
FLASK_ENV=development
FLASK_PORT=5000