<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/add_show.css">
        <title>Log an Episode</title>
    </head>
    <body>
        <!--gather user input-->
        <div id="form-div">
            <form action="{{ url_for('add') }}" method="POST">
                <label for="show">Show Title:</label>
                <input type="text" id="show">	
                <br />

                <label for="season">Season:</label>
                <input type="text" id="season">	
                <br />

                <label for="episode">Episode:</label>
                <input type="text" id="episode">	
                <br />

                <label for="rating">Rating (1-5):</label>
                <input type="text" id="rating">	
                <br />

                <label for="comment">Comments:</label>
                <input type="text" id="comment">	
                <br />
                <input type="submit">	
            </form>
        </div>
    </body>
</html>