<!DOCTYPE html>
<html>
  <head>
    <title>TV Show Tracker</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>TV Show Tracker</h1>
        <nav>
          <a href="{{ url_for('home')}}">Home</a>
        </nav>
      </header>
      <main>
        <h2>Your Episodes</h2>
        <ul>
            {% for show in shows %}
            <li>
              <strong>Title:</strong> {{ show.title }}<br>
              <strong>Genre:</strong> {{ show.genre }}<br>
              <strong>Episode:</strong> {{ show.episode }}<br>
              <strong>Rating:</strong> {{ show.rating }}<br>
              <strong>Tags:</strong> {{ show.tags | join(', ') }}<br>
              <strong>Status:</strong> {{ show.status }}<br>
              <strong>Date:</strong> {{ show.date.strftime('%Y-%m-%d') }}<br>
              <strong>Comment:</strong> {{ show.comment }}
              <hr>
            </li>
            {% endfor %}
          </ul>
        <h3>Menu</h3>
        <a href="{{ url_for('menu') }}">
          <button>Go to Menu</button>
        </a>
      </main>
      <footer>
        <p>&copy; 2025. Shared under the GPL3 license. Source code 
            <a
              href="https://github.com/software-students-spring2025/2-web-app-project2_jpeg"
              >available on Github.</a
      </footer>
    </div>
  </body>
</html>

