
body {
    max-width: 480px; 
    /* I think that's good for mobile */ 
    margin: 0 auto; 
    padding: 10px; 
    font-family: Verdana, sans-serif;
    
}

/*nav barstyle*/ 
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    overflow: hidden;
    border-radius: 5px;
}


/*for tables styling */
table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
}

th, td {
    border: 1px solid #000000;
    padding: 20px; 
    text-align: center;
}
