/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Centering the container */
.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

/* Page Titles */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}

/* Links */
a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Flash Messages */
.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

.alert-danger {
    background: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-success {
    background: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.url-options {
    color: black;
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 400px) {
    .container {
        width: 90%;
    }
}

img{
    height: 20px;
    width: auto;
}

.url-copy {
    background: none;
    
}

.url-copy:hover {
    background: none;
}

.url-copy:click {
    background: none;
}

a.url-options {
    text-decoration: none;
}

.url-copy{
    margin: 0px;
    padding: 0px;
}

li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5px;
    padding-bottom: 5px;
}

h2{
    padding-top: 15px;
    padding-bottom: 10px;
}

#view-log-container{
    padding-top: 10px;
}

#view-log-container a{
    padding: 6px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #007bff;
    color:#f4f4f4;
    border-radius: 3px;
    font-weight: normal;
}

p{
    margin-top: 10px;
}


.url-favorite {
    margin: 0px;
    padding: 0px;
}

.url-favorite {
    background: none;
    
}

.url-favorite:hover {
    background: none;
}

.url-favorite:click {
    background: none;
}