<!DOCTYPE html>
<html>
<head>
    <title>Add Dream</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>
    <div class="adddream-container">
        <a class="back-link" href="/home">← Back</a>

        <div class="bear-header">
            <img src="/static/images/dream_bear.svg" alt="dream-bear" class="bear-image">
        </div>

        <form action="/add_dream" method="POST">
            
            <div class="date-container">
                <label class="date-label" for="day">Date</label>
                <div class="date-inputs">
                    <input type="text" id="day" name="day" placeholder="Day">
                    <input type="text" id="month" name="month" placeholder="Month">
                    <input type="text" id="year" name="year" placeholder="Year">
                </div>
            </div>

            <div class="tags-container">
                <p>Choose Your Tags:</p>
                <button type="button" class="tag">Happy</button>
                <button type="button" class="tag">Funny</button>
                <button type="button" class="tag">Sad</button>
                <button type="button" class="tag">Scared</button>
                <button type="button" class="tag">xx-xx-xxxx</button>
                <button type="button" class="tag">xx-xx-xxxx</button>
            </div>

            <div class="description-container">
                <label for="dream-description">Input Description</label>
                <textarea id="dream-description" name="dream-description" placeholder="Description..."></textarea>
            </div>

            <div class="button-container">
                <button type="submit" class="save-dream-button">Save Your Dream</button>
            </div>
        </form>
    </div>
</body>
</html>