an<!DOCTYPE html>
<html>
    <head>
        <title>analysis Page</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
      </head>
    <body>
        <div class="analysis-container">
            <a class="back-link" href="/home"> ← Back</a>
            <div class="input-container">
              <input type="text" id="dream-search" placeholder="Search by category, dates" />
            </div>
            <div class="bear">
              <img src="/static/images/homepg_bear.svg" alt="home-bear" />
            </div>
          </div>
    </body>
</html>