/* General Reset */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f7fa;
    overflow-x: hidden;
}

/* Main Container */
.addapplication-container {
    text-align: center;
    padding: 20px;
    color: #333;
    margin-top: 50px;
}

/* Date */
.date {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

/* Add New Card */
.add-card {
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    border: 1px solid #eaeaea;
}

.add-card:hover {
    transform: translateY(-5px);
}

.add-icon {
    color: #FFB5C0;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.add-text {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.add-text-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Description Text */
.description {
    color: #666;
    font-size: 16px;
    margin-top: 20px;
}

a {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}