body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    text-align: center;
    margin: 0;
    padding: 0;
}

.dashboard {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
}

.dashboard h1 {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

.dashboard p {
    font-size: 14px;
    color: #555;
}

/* stats section */
.stats {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
}

.stats div:first-child {
    background-color: #FFF1F3;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.stats div:last-child {
    background-color: #FEFAEB;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.stats p {
    font-size: 12px;
    margin-bottom: 5px;
    color: #555;
}

.stats h2 {
    font-size: 28px;
    font-weight: bold;
}

.weekly h2 {
    font-size: 40px;
}

.monthly h2 {
    font-size: 40px;
}

/* monthly insights */
.monthly-insights {
    background-color: #e7f0fe;
    padding: 20px;
    border-radius: 10px;
    margin-top: 0px;
}

.monthly-insights h3 {
    font-size: 22px;
    font-weight: bold;
}

.monthly-insights p {
    font-size: 12px;
    color: #666;
    margin-bottom: 15px;
}

.insights {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.insights div {
    background: white;
    border-radius: 10px;
    width: 33%;
    height: 33%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.insights h2 {
    font-size: 30px;
    font-weight: bold;
}

.insights p {
    font-size: 10px;
    font-weight: bold;
    color: #555;
}

/* number colors */
.weekly h2 {
    color: #FF6060
}

.monthly h2 {
    color: #FFAC4B
}

.accepted h2 {
    color: #4caf50;
}

.interviewing h2 {
    color: #f4b400;
}

.rejected h2 {
    color: #e63946;
}
