h1
{
    text-align: center;
}

header{
    padding: 0;
    position:sticky;
    top: 0;
    background-color: wheat;
}

nav{
    text-align: center;
}

a
{
    display: inline-block;
    border-style: solid;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color:maroon;
}

a:hover
{
    color:coral;
}

.infobox
{
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    margin: 25px;
    padding: 25px;
}
.databox
{
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
}

footer{
    display:block;
    width: 100%;
}
.circleButton
{

    position: fixed;
    bottom: 0;
    height: 75px;
    line-height: 75px;  
    width: 75px; 
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    background-color: white;
}

.add{
    left:0;
}

.edit{
    right: 0;
}

.inputArea{
    top: 25%;
    text-align: center;
}