*{
    margin:0;
    padding:0;
    /* border: solid; */
    font-family: sans-serif;

}

:root {
    --primary-color: #c93c53;   /* Main theme color */
    --secondary-color: #edf2f4; /* Accent color */
    --background-color: #8d99ae; /* Background color */
    --text-color1: #1a1b26; /* Default text color */
    --text-color2: #f5f5f5; /* Default text color */
    --button-color: #782b34; /* Button background */
    --button-text-color: #edf2f4; /* Button text */
}


#loginSection, #regSection{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);

    width: 50%;
    height: fit-content;

    padding: 20px;
    border-radius: 7px;
    border: solid var(--button-color) 2px;

}


#loginScreen, #registerScreen, #homeScreen, #friendsScreen, #shuffleScreen{
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#loginForm, #regForm{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    color: var(--text-color1);
    font-weight: 900;
    align-self: center;
    margin: 15px;

    font-size: 23px;;
    width: 150px;
}

#username, #password{
    font-weight: 700;
    color: var(--text-color2);
    margin-bottom: 5px;;
}

#loginForm div{
    display: flex;
    flex-direction: column;
}

.box{
    border: solid 2px var(--button-color);
    padding: 5px;

    margin-bottom: 10px;

    width: 92%;
    align-self: center;


}


#logButton{
    padding: 5px;
    width: 100px;
    color: var(--button-text-color);
    background-color: var(--button-color);

    border: 2px solid;

    margin-top: 20px;

    align-self: center;

    border-radius: 2px;

}


#noAccount{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 20px;

}

#noAccount h5{
    color: var(--text-color1);
    margin-bottom: 5px;

}
 a:link, a:visited{
    color: var(--text-color2);
 }
 a:active{
    color: var(--text-color1);
 }

#homeScreen , #shuffleScreen{
    display: block;
    flex-direction: column;
}

header{
    background-color: var(--primary-color);
    display: flex;
    width: 100%;
    top: 0;
    height: 10vh;
    align-items: center;
    padding-left: 0px;
    padding-right: 10px;
}
#addFriends, #logOut, #profile, #appName{
    margin-left: 10%;

    color: var(--button-text-color);

    font-weight: 1000;

    font-size: 0.85em;
}

#yourRestaurants{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

}

#yourRestaurants p{
    margin: 20px;

    font-size: 30px;
    font-weight: 900;

    color: var(--primary-color);
    background-color: white;
    width: 100%;
    text-align: center;
    box-shadow: inset 0 0 10px #00000078;
}

.restaurant{
    height: 200px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: 2px solid;
    width: 70%;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 30px;
}

.restaurant:hover{
    transform: translateY(-10px);
}

#addRestaurant{
    margin-top: 20px;
    font-size: 16pt;
    padding: 10px;
    background-color: var(--button-color);
    border-radius: 5px;
    border: solid;
    font-weight: 700;
    align-self: center;
    text-align: center;
}



#addRestaurant a{
    text-decoration: none;
}


#restaurantLink{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
}

.topHalf{
    height: 40%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: rgb(2,0,33);
    background: linear-gradient(90deg, rgba(2,0,33,1) 0%, rgba(201,60,83,1) 30%,rgba(201,60,83,1) 70%, rgba(2,0,33,1) 100%);
    padding-left: 5%;
    padding-top: 5%;
    -webkit-box-shadow: 1px 4px 9px 3px rgba(0,0,0,0.22);
    -moz-box-shadow: 1px 4px 9px 3px rgba(0,0,0,0.22);
    box-shadow: 1px 4px 9px 3px rgba(0,0,0,0.22);

    border-bottom: var(--background-color) solid 2px;
    

}

.bottomHalf{
    height: 40%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    display: flex;
    padding-top: 5px;
}

.restName{
    color: var(--text-color2);
    font-size: 24px;
    font-weight: 700;

}

.restLoc{
    margin-top: 10px;
    color: var(--secondary-color);

}

.bottomLeft, .bottomRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: var(--text-color1);
    font-size: 14pt;
    align-items: center;
    justify-content:space-around;
}

.bottomLeft{
    border-bottom-left-radius: 10px;

}
.bottomRight{
    border-bottom-right-radius: 10px;

}

.cuisine, .favDish, .rating, .price{
    color: var(--secondary-color);
    padding-bottom: 5px;
    padding-top: 5px;
    
    width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: rgba(219, 103, 103, 0.541);
    border-top: black solid;
    border-bottom: black solid;
}

#welcome{
    font-size: 16pt;
    font-weight: 800;
    color: var(--secondary-color);
    text-align: center;
    padding-top: 25px;
}  

#friendsScreen{
    display: block;
    flex-direction: column;
}

#searchForm{
    display: flex;

    align-items:center;
    justify-content: center;
    flex-direction: column;

}

#search{
    width: 100%;
    display: flex;
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: column;

    margin-top: 20px;

}

#search p, #AllFriends p{
    color: var(--text-color1);
    font-weight: 700;
    margin-bottom: 10px;

    font-size: 18pt;

    font-weight: 800;
}

#searchBox{
    width: 100%;
    height: 20px;
    border-radius: 5px;

}
#searchButton{
    width: 70%;
    height: 30px;

    background-color: var(--button-color);
    color: var(--button-text-color);
    font-weight:900;
    border: solid 2px;
    border-radius: 5px;
}

#AllFriends{
    width:100%;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.friend{
    width: 70%;
    height: 30px;
    background: rgb(2,0,33);
    background: linear-gradient(0deg, rgba(2,0,33,1) 0%, rgba(201,60,83,1) 20%, rgba(201,60,83,1) 70%, rgba(2,0,33,1) 100%);

    margin-bottom: 30px;
    border-radius: 10px;
    padding: 10px;
    border: solid 3px var(--text-color1);

    font-weight: 800;
}

.friendUser{
    color: var(--text-color2);
    font-size: 16pt;
    line-height: 30px;
}

#addForm, #editForm{
   display: flex;
   flex-direction: column; 
}

#delete{
    background-color: black;
    width: 50px;
    height: 50px;

    position: relative;
    top: 0;
    right: 0;
}
#shuffleScreen{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

header{
    position: absolute;
    top:0;
}

#aShuffle{
    width: 100%;
    display: flex;
    align-items: center;

    flex-direction: column;
    padding-top: 20%;

}

#shuffleButton, #tryAgain{
    cursor: pointer;
    background-color: var(--button-color);
    width: 70%;
    text-align: center;
    height: 60px;
    font-size: 30pt;
    font-weight: 900;
    color: var(--text-color2);
    border-radius: 10px;  
    border: 2px solid var(--primary-color);
}

#tryAgain{
    width: 120%;
    height: 40px;
    font-size: 16pt;
    font-weight: 700;
    line-height: 40px;
}

#shuffleResults p{
    padding-top: 40px;
    padding-bottom: 15px;
    color: var(--text-color1);
    font-size: 16pt;
    font-weight: 700;
    color:var(--text-color1)

}


#shuffleResults{
    text-align: center;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

#shuffleResults{
    display: none;
}
