{% from 'macros.html' import list_url %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Shorten a URL</h1>
        <form method="POST" action="{{ url_for('urls.shorten') }}">
            <input type="url" name="long_url" placeholder="Format: https://xxx.yyy" required>
            <button type="submit">Shorten</button>
        </form>

        <h2>Recent URLs</h2>
        <ul>
            {{ list_url(urls, url_for('urls.dashboard')) }}
        </ul>

        <div id="view-log-container">
            <a href="{{ url_for('urls.favorites') }}">Favorites</a>
            <a href="{{ url_for('urls.history') }}">History</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </div>
    </div>
</body>
</html>
