{% extends 'base.html' %} 

{% block container %}
<h2>Report Lost Item</h2>
<p>Add a new record to the database.</p>
<form method="POST" action="{{ url_for('add_item') }}">
    <label>Item Name:</label>
    <input type="text" name="name" required>
    <label>Location:</label>
    <input type="text" name="location" required>
    <label>Date Lost:</label>
    <input type="date" name="date_lost" required>
    <label>Description:</label>
    <textarea name="description" required></textarea>
    <input type="submit" value="Submit" />
</form>
{% endblock %}
