{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Add a New Question</h1>
    <form action="{{ url_for('questions.add_question') }}" method="POST" class="add-form">
        <div class="form-group">
          <label for="question">Question:</label>
          <input type="text" id="question" name="question" required>
        </div>
        
        <div class="form-group">
            <label for="answer">Answer:</label>
            <input type="text" id="answer" name="answer" required>
        </div>
  
        <div class="form-group">
            <label for="hint">Hint:</label>
            <input type="text" id="hint" name="hint" placeholder="Optional">
        </div>
  
        <div class="form-group">
            <label for="genre">Genre:</label>
            <input type="text" id="genre" name="genre" placeholder="Optional">
        </div>
  
        <div class="form-group">
            <label for="difficulty">Difficulty Level:</label>
            <select id="difficulty" name="difficulty">
                <option value=""></option>
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
            </select>
        </div>
  
          <button type="submit" class="button">Submit</button>
      </form>

    <script>
        function showSuccessMessage() {
            alert("✅ Question successfully added!");
        }
    </script>
</body>
</html>

{% endblock %}