{% extends "base.html" %}

{% block container %}

<head>
    <link
        rel="stylesheet"
        href="/static/css/admin-building-edit.css"
    />
</head>
<body>
    <div class="container">
        <!-- <div class="header">
            <a href="{{ url_for('admin_dashboard') }}" class="back-button">Back to Dashboard</a>
            <div class="user-info">
                <span>Admin: {{ user.username }}</span>
            </div>
        </div> -->

        <div class="apt-detail">
            {%if message == "post"%}
            <form id="aptEditForm", action="{{ url_for('create_apt_q', apt_id=apt.id) }}" method="post" data-apt-id="{{ apt.id }}">
            {%else%}
            <form id="aptEditForm", action="{{ url_for('update_apt_q', apt_id=apt.id) }}" method="post" data-apt-id="{{ apt.id }}">
            {%endif%}
            <!-- <form id="aptEditForm"> -->
                <div class="section">
                    <h2 class="section-title">Basic Info</h2>
                    <div class="form-group">
                        <label>Building Name</label>
                        <input type="text" name="buildingName" value="{{ apt.building.name }}">
                    </div>
                    <div class="form-group">
                        <label>Apartment Number</label>
                        <input type="text" name="apt_num" value="{{ apt.apt_num }}">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" name="price" value="{{ apt.price }}">
                    </div>
                    <div class="form-group">
                        <label>Bedroom:</label>
                        <select name="bedroom">
                            <option value="Studio" >Studio</option>
                            <option value="1" >1</option>
                            <option value="2" >2</option>
                            <option value="3" >3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Bathroom:</label>
                        <select name="bathroom">
                            <option value="Studio" >Studio</option>
                            <option value="1" >1</option>
                            <option value="2" >2</option>
                            <option value="3" >3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Square Feet</label>
                        <input type="number" name="area" value="{{ apt.area }}">
                    </div>
                    <div class="form-group">
                        <label>Available Date</label>
                        <input type="text" name="date" value="{{ apt.date }}">
                    </div>
                    <div class="form-group">
                        <label>Street Address</label>
                        <input type="text" name="street_address" value="{{ apt.street_address }}">
                    </div>
                    <div class="form-group">
                        <label>City, State and Zip Code</label>
                        <input type="text" name="city_address" value="{{ apt.city_address }}">
                    </div>
                    <div class="form-group">
                        <label>About:</label>
                        <textarea name="about_info">{{ apt.about_info }}</textarea>
                    </div>
                </div>
                
            

                <div class="section">
                    <h2 class="section-title">Policies</h2>
                    <div class = "section-content">
                        {% for policy, status in apt.policies.items() %}
                            <div class="list-item-container">
                                <label class="list-item-label">
                                    <input type="checkbox" name="{{policy}}" {% if status == 1 %}checked{% endif %}>
                                    {{policy}}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>


                <div class="section">
                    <h2 class="section-title">Apartment Amenities</h2>
                    <div class = "section-content">
                        {% for amenity, status in apt.amenities.items() %}
                            <div class="list-item-container">
                                <label class="list-item-label">
                                    <input type="checkbox" name="{{amenity}}" {% if status == 1 %}checked{% endif %}>
                                    {{amenity}}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="section">
                    <h2 class="section-title">Home Features</h2>
                    <div class = "section-content">
                        {% for feature, status in apt.features.items() %}
                            <div class="list-item-container">
                                <label class="list-item-label">
                                    <input type="checkbox" name="{{feature}}" {% if status == 1 %}checked{% endif %}>
                                    {{feature}}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="confirmation-button-container">
                    <input type="hidden" name="id" value="{{apt.id}}">
                    <button type="submit" class="save-btn">Save</button>
                    <button class="cancel-btn">
                        <nav>
                            <a href="{{ url_for('aptlist')}}">Cancel</a>
                        </nav>
                    </button>
                </div>
            </form>                
        </div>
    </div>
</body>


{% endblock %} 