<!DOCTYPE html>
{% extends 'base.html' %}

{% block container %}

<html>
  <head>
    <link
      rel="stylesheet"
      href="/static/css/admin-dashboard.css"
    />
  </head>
  <body>
    <div class="container">
        <nav>
            <a href="{{ url_for('buildinglist')}}">
                <button class = "manage-apt-button">
                    Manage Apartment
                </button>
            </a>
        </nav>
        <nav>
            <a href="{{ url_for('userlist')}}">
                <button class = "manage-guest-button">
                    Manage Guest
                </button>
            </a>
        </nav>
    </div>
  </body>
</html>

{% endblock %}