<!DOCTYPE html>
{% extends 'base.html' %}

{% block container %}

<html>
  <head>
    <link
      rel="stylesheet"
      href="/static/css/style.css"
    />
  </head>
  <body>
    <div class="container"> 
      <div class="search-section">
        <form action="{{ url_for('aptlist') }}" method="get" class="search-form">
            <input type="text" name="q" placeholder="Search apartment..." value="{{ search_term }}">
            <button type="submit">Search</button>
        </form>
      </div>
      {% if target == ''%}
      <span class="search-result"> </span>
      {% else %}
      <span class="search-result"> Searched for {{target}}</span>
      {% endif %}

      <div class = "aptlist-display-container">
        <div class = "subtitle-container">
          <span class = "subtitle">Apartments</span>
        </div>

        <div class="aptlist-widget-container">
          <ul>
            {% for apt in houseInfo %}
            <li>
              <a href="{{ url_for('detail', apt_id=apt.price)}}">
              <div class="apt-widget">
              <!-- if usertype ==1 -->
                <!-- <button class="close-btn">X</button> -->
                <!-- 之后要改！！！！apt_id -->
                <div class="delete-icon-container">
                  <!-- <form action="{{ url_for('delete_apt_q', apt_id=apt.price) }}" method="post"> -->
                  <form action="{{ url_for('delete_apt_q', apt_id=apt.area) }}" method="post">
                    <input type="hidden" name="apt_id" value="{{apt.price}}">
                    <button type="submit">
                      <img src="{{ url_for('static', filename='images/delete-icon.png') }}" alt="Delete" class="delete-icon">
                    </button>
                  </form>
                </div>
                <!-- <form action = "{{url_for('detail', apt_id=apt.price)}}" method="get">
                  <input type="hidden" name="apt_id" value="{{apt.price}}">
                  <button type="submit "> -->
                  <div class="aptlist-apt-content">
                    <div class="apt-details">
                      <p class="apt-price">${{apt.price}}/mo</p>
                      {% if apt.bedroom == "Studio" %}
                      <p class="apt-type-and-size">Studio {{apt.area}} sqft</p>
                      {% else %}
                      <p class="apt-type-and-size">{{apt.bedroom}} Bd {{apt.bathroom}} Ba {{apt.area}} sqft</p>
                      {% endif %}
                      <p class="apt-available-date">{{apt.available_date}}</p>
                      <div class="apt-building-name-apt-num-container">
                        <span class="apt-building-name">{{apt.building}}</span>
                        <span class="apt-apt-num">{{apt.apt_num}}</span>
                      </div>
                    </div>
                    <div class="apt-image">
                        <div class="placeholder">Picture</div>
                    </div>
                    </div>
                    <p class="apt-area">{{apt.city}}</p>
                  </div>
                  <!-- </button>
                </form> -->
                </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}