<!DOCTYPE html>
<html>
  <head>
    <title>Rental Surfer</title>
    <link
      rel="stylesheet"
      href="/static/css/style.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="all-container">
      <header>
        <div>
          <img id="top-left-logo-image" src="/static/images/logo.png" alt="logo"/>
        </div>
        {% if session['is_admin']%}
        <div id = "header-middle-container">
          <div id="header-middle">
            <div>
              <nav>
                <a href="{{ url_for('house.create_house_page')}}">Create</a>
              </nav>
            </div>
            <div>
              <nav>
                <!--only admin can see -->
                <a href="{{ url_for('user_management.admin_dashboard')}}">Admin Dashboard</a>
              </nav>
            </div>
          </div>
          {% endif %}
          <div id="top-right-avatar-container">
            <a href="{{ url_for('user_management.get_user',user_id='67b8d6f05da61bc65fceb190')}}">
            <img id="user-avatar-image" src="/static/images/user-avatar.png" alt="user avatar"/>
            <!-- <span id = "top-right-username">{{session['username']}}</span> -->

            {% if session.get('username') != None%}
            <div id = "top-right-username">{{session['username']}}</div>
            {% else %}
            <div id = "top-right-username">Username</div>
            {% endif %}
            </a>
          </div>
        </div>
        
        <!-- <nav>
          <a href="{{ url_for('home')}}">Home</a>
        </nav> -->
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          &copy; 2025. All rights reserved team Web Surfer. 
          <br>
          Source code available at
          <a
            href="https://github.com/software-students-spring2025/2-web-app-web-surfer.git"
            >available on Github</a
          >.
        </p>

      </footer>
    </div>
  </body>
</html>