<!DOCTYPE html>
{% extends 'base.html' %}

{% block container %}

<html>
  <head>
    <link
      rel="stylesheet"
      href="/static/css/admin-dashboard.css"
    />
  </head>
  <body>
    <span> This is bulidinglist</span>
    <!-- <div class="container">
        <nav>
            <button class = "manage-apt-button">
                Manage Apartment
            </button>
        </nav>
        <button class = "manage-guest-button">
            Manage Guest
        </button>
    </div> -->
  </body>
</html>
{% endblock %}