<!DOCTYPE html>

{% extends 'base.html' %}

{% block container %}

<html>
  <head>
    <title>This is login title</title>
    <link
      rel="stylesheet"
      href="/static/css/delete-user.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="confirmation-message-container">
        <span class="confirmation-message">{{q_message}}</span>
      </div>

      <div class="userinfo-container">
        <div class="user-avatar-container">
          <div class="user-avatar">
            <div class="placeholder">Picture</div>
          </div>
        </div>
        <div class="user-details-container">
          <form action="{{ url_for('delete_user_q', user_id=username) }}" method="post"></form>
          <p class="info-text">Username: {{username}}</p>
          <p class="info-text">Email: {{email}}</p>
        </div>
      </div>

      <div class = "confirmation-button-container">
        <form action="{{ url_for('message')}}" method="post">
          <input type="hidden" name="username" value="{{username}}">
          <input type="hidden" name="email" value="{{email}}">
          <input type="hidden" name="message" value="User Deleted">

          <button type="submit">Yes</button>
        </form>
        <button>
          <nav>
            <a href="{{ url_for('userlist')}}">No</a>
          </nav>
        </button>
      </div>
    </div>
  </body>
</html>

{% endblock %}