<!DOCTYPE html>
<html>
    <head>
        <title>Workout App</title>
        <link rel="stylesheet" href = "style.css">
    </head>
    <body>
        <header>
          <h1>Workout App</h1>
          <nav>
            <a href="Home.html">Home</a>
            <a href="Workouts.html">Workouts</a>
            <a href="Diet.html">Diet</a>
            <a href="Settings.html">Settings</a>
          </nav>
        </header>
        <div class = "databox"> 
            <h2 >Meal Name</h2>
            <h3>Date and Time</h3>
            <div style="text-align: left; line-height: 25%;">
                <h3>Calories:</h3>
                <p>Protein:</p>
                <p>Carbohydrates:</p>
                <p>Fat:</p>
            </div>
        </div>
        
    <footer>
    <a href="addMeal.html" class = "circleButton add">Add</a>
    <a href="" class = "circleButton edit">Edit</a>
    </footer>
    </body>
</html>