<!DOCTYPE html>
<html>
    <head>

        <!-- Page Title -->
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <title>Edit Event</title>

        <!-- CSS -->
        <style>

        </style>
    </head>

     <!-- Page Body-->
     <body>
        
        <header>
            <!-- TEMP: placeholder href link -->
            <button class="back" onclick="location.href='details.html'">&#8592</button>
            <h1>Event Details</h1>
        </header>

    <!-- Form -->
    <form>
        <label for="name">Event Name:</label>
        <input type="text" id="name" name="name" required>
        <br><br>
        <label for="date">Date:</label>
        <input type="text" id="date" name="date" required>
        <br><br>
        <label for="time">Time:</label>
        <input type="text" id="time" name="time" required>
        <br><br>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required>
        <br><br>
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" required>
        <br><br>
        <label for="type">Type:</label>
        <input type="text" id="type" name="type" required>
        <br><br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>
        <br><br>
    </form>

    <!-- Save Button -->
    <button type="submit">Save Changes</button>
     </body>
</html>