<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeShare</title>
    <link rel="stylesheet" href="editpage.css">
</head>
<body>

    <!-- button to go back to home page-->
    <main>
        <a href="index.html" class="cta-button">Home</a>
    </main>

    <!-- Sweets Section -->
    <!-- Specify details that the user can open and close on demand: Source: W3Schools
    <summary> is the clickable part that allows us to expand the contents of <details> -->
    <details class="TypeofRecipe">
        <summary class="ClickableCategory">Sweets</summary>
        <div class="SpecificRecipes">
            <button class="RecipeButton">Vanilla Ice Cream</button>
            <button class="RecipeButton">Cheesecake</button>
            <a href="#AddNewSweet" class="AddRecipe"> Add Recipe</a>  <!-- href # to link to another seciton on same page: Source: W3Schools-->
        </div>
    </details>

    <!-- Savory Section -->
    <details class="TypeofRecipe">
        <summary class="ClickableCategory">Savory</summary>
        <div class="SpecificRecipes">
            <button class="RecipeButton">Mac and Cheese</button>
            <button class="RecipeButton">Lamb Chops</button>
            <a href="#AddNewSavory" class="AddRecipe"> Add Recipe</a>  
        </div>
    </details>




    <!-- Form for adding new recipe (Sweet) -->
    <div id="AddNewSweet" class="form">
        <div class="FormContent">
            <h2>New Recipe (Sweets)</h2>
            <label>Name:</label>
            <input type="text" placeholder="Enter recipe name">
            
            <label>Ingredients:</label>
            <input type="text" placeholder="Ingredient 1">
            <input type="text" placeholder="Ingredient 2">
            <input type="text" placeholder="Ingredient 3">

            <label>Instructions:</label>
            <textarea type="Enter instructions"></textarea>

            <a href="#" class="SaveButton">Save</a>
            <a href="#" class="CloseButton">Cancel</a> 
        </div>
    </div>

    <!-- Form for adding new recipe (Savory) -->
    <div id="AddNewSavory" class="form">
        <div class="FormContent">
            <h2>New Recipe (Savory)</h2>
            <label>Name:</label>
            <input type="text" placeholder="Enter recipe name">
            
            <label>Ingredients:</label>
            <input type="text" placeholder="Ingredient 1">
            <input type="text" placeholder="Ingredient 2">
            <input type="text" placeholder="Ingredient 3">

            <label>Instructions:</label>
            <textarea type="Enter instructions"></textarea>

            <a href="#" class="SaveButton">Save</a>
            <a href="#" class="CloseButton">Cancel</a> 
        </div>
    </div>

</body>
</html>
