{% extends "layout.html" %}
{% block content %}
<div class="flashcard">
    <h2>Question:</h2>
    <p>{{ question.question }}</p>

    <!-- Hint section: hidden by default using the .hint class -->
    <div class="hint" id="hint">
        <h3>Hint:</h3>
        <p>{{ question.hint }}</p>
    </div>
    <!-- Answer section: The answer is hidden by default -->
    <div id="answer" class="answer">
        <h3>Answer:</h3>
        <p>{{ question.answer }}</p>
    </div>

    <div class="botton-group">
        <button onclick="toggleHint()">Show/Hide Hint</button>
        <button onclick="toggleAnswer()">Show/Hide Answer</button>
    <div>
</div>

<div class="navigation">
    {% if index > 0 %}
        <a href="{{ url_for('flashcard.flashcard', index=index-1,shuffle=shuffle) }}">Previous</a>
    {% endif %}
    {% if index < total - 1 %}
        <a href="{{ url_for('flashcard.flashcard', index=index+1,shuffle=shuffle) }}">Next</a>
    {% else %}
        <p>You've reached the end of the flashcards!</p>
        <a href="{{ url_for('flashcard.flashcard_options', index=0, shuffle=shuffle) }}" class="btn">Restart</a>
    {% endif %}
</div>

<script>
function toggleAnswer() {
    var answer = document.getElementById("answer");
    answer.classList.toggle("visible");
}
function toggleHint() {
    var hint = document.getElementById("hint");
    hint.classList.toggle("visible");
}
</script>

{% endblock %}