<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Restaurant Roulette</title>
</head>

<body id="homeScreen">
    <header>
        <div id="appName"><a href="/home">RR</a></div>
        <div id="profile"><a href="/profile">Profile</a></div>
        <div id="addFriends"><a href="/friends">Friends</a></div>
        <div id="logOut"> <a href="/logout">Log Out</a></div>
    </header>
    <div id="welcome">
        Welcome, {{ user }}!
    </div>

    <div id="shuffleScreen" data-visi="{{winner}}">

        <a href="/shuffle"><div id="shuffleButton">I'm Hungry!</div></a>

        <div id="shuffleResults">
            You should go to: {{ winner }}
        </div>
    </div>

    <div id="yourRestaurants">
        <p> ~ Your Restaurants ~ </p>
            {% for restaurant in restaurants %}
            <a id="restaurantLink" href="/edit/{{restaurant._id}}">
                <div class="restaurant">
                    <div class="topHalf">
                        <div class="restName">{{ restaurant.restaurantName }}</div>
                        <div class="restLoc">{{ restaurant.restaurantLocation }}</div>
                        <a href="/delete/{{restaurant._id}}">
                            <div id="delete">
                                Delete Restaurant
                            </div>
                        </a>
                    </div>
                    
                    <div class="bottomHalf">
                        <div class="bottomLeft">
                            <div class="cuisine">{{ restaurant.cuisine }}</div>
                            <div class="favDish">{{ restaurant.favDish }}</div>
                        </div>
                        <div class="bottomRight">
                            <div class="rating">{{ restaurant.rating }}/5</div>
                            <div class="price">{{ restaurant.price }}</div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        
            <div id="addRestaurant">
                <a href="/add">Add Restaurant</a>
            </div>
        </div>
    </div>
    </div>
    <script>
        let shuffleScreen = document.getElementById('shuffleScreen');
        let results = document.getElementById('shuffleResults');
        let winnerExists = shuffleScreen.dataset.visi.trim() !== "";
    
        // console.log("Winner:", shuffleScreen.dataset.visi);
        // console.log("Should Show Result?", winnerExists);
    
        if (winnerExists) {
            results.style.display = "block"; 
        } else {
            results.style.display = "none"; 
        }
    </script>

</body>

</html>