<!DOCTYPE html>
<html>
<head>
    <title>Welcome , {{ username }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
  <body>
      <header>
        <h1 class="heading">Welcome, {{ username }}!</h1>
        <nav>
          <a href="{{ url_for('home') }}">Home</a>
          <a href="{{ url_for('workouts') }}">Workouts</a>
          <a href="{{ url_for('diets') }}">Diet</a>
          <a href="{{ url_for('settings') }}">Settings</a>
        </nav>
      </header>
      <main>
        <div class = "infobox">
            <p>This is going to be information for what workout to do today</p>
            <a href="{{ url_for('add_workout') }}">Add Workout</a>
        </div>
        <div class = "infobox">
            <p>This is going to be how far you are from your macro goals today</p>
            <a href="{{ url_for('add_diet') }}">Add Diet</a>
        </div>
      </main>
      <a href="{{ url_for('logout') }}" class = "logout-btn">Logout</a>
  </body>
</html>