<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Homepage</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/homepage.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    </head>
    <body id="bodyLogin">

        <div class="transparentBar">
            <h1 class="mainHeader">Homepage</h1>
        </div>

        <div id="buttonPanels">
            <a href="/workouts"><button type="button">Workouts</button></a>
            <a href="/food"><button type="button">Food</button></a>
            <a href="/profile"><button type="button">My Profile</button></a>
        </div>


    </body>
    
</html>