<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/bookCard.css">
</head>

<body>

    <div class="container">
        <header>
          <h1>📚 BookSwap Homepage</h1>
        </header>

        <header class="navbar">
            <button class="profile-btn">Profile 👤</button>

            <a href="{{ url_for('home') }}" class="home-btn">🏠</a>
            <form action="{{ url_for('search_books') }}" method="GET" class="search-form">
                <input type="text" id="search" name="query" placeholder="Search books...">
                <button type="submit" class="search-btn">🔍</button>
            </form>
        </header>

        <div class="filters">
            <a href="{{ url_for('filter_sort') }}"><button>Sort By/Filter</button></a>
            <!-- <button id="filter">Filter</button> -->
        </div>

        <div id="book-list">
            {% if books %}
                {% for book in books %}
                <div class="book">
                    <h3><a href="{{ url_for('book_details', book_id=book._id) }}">{{ book.title }}</a></h3>
                    <p><strong>Author:</strong> {{ book.author }}</p>
                    <p><strong>Price:</strong> ${{ book.price }}</p>
                    <p><strong>Edition:</strong> {{ book.edition }}</p>
                    <p><strong>Year:</strong> {{ book.year }}</p>
                    <p><strong>Condition:</strong> {{ book.condition }}</p>
                    <p><strong>Format:</strong> {{ book.format }}</p>
                </div>
                {% endfor %}
            {% else %}
                <p>No books match your filter criteria.</p>
            {% endif %}
        </div>
    <a href="{{ url_for('add_book') }}" class="add-book-btn">➕</a>
</body>

</html>