{% extends "layout.html" %}
{% block content %}
    <h1 style="text-align: center;">Search For Questions</h1>
    <form action="{{ url_for('questions.search') }}" method="POST">
        <label for="question">Question:</label>
        <input type="text" id="question" name="question" >
        <br>
        
        <label for="answer">Answer:</label>
        <input type="text" id="answer" name="answer" >
        <br>

        <label for="hint">Hint:</label>
        <input type="text" id="hint" name="hint">
        <br>

        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre">
        <br>

        <label for="difficulty">Difficulty Level:</label>
        <select id="difficulty" name="difficulty">
            <option value=""></option>
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
        </select>
        <br>

        <button type="submit" class="button">Search</button>
    </form>
    <table id="data" class="table-container">
      <thead>
        <tr>
          <th>Question</th>
          <th>Answer</th>
          <th>Hint</th>
          <th>Genre</th>
          <th>Difficulty</th>

        </tr>
      </thead>
      <tbody>
        {% for question in questions %}
          <tr>
            <td>{{ question.question }}</td>
            <td>{{ question.answer }}</td>
            <td>{{ question.hint }}</td>
            <td>{{ question.genre }}</td>
            <td>{{ question.difficulty }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}