<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../static/register.css">
</head>
<body>
    <div class="title">
        <h2>BookSwap</h2>
        <h3>Create an account</h3>
    </div>
    <form method="POST">
        <div class="inputs">
            <input type="email" name="email" placeholder="john123@nyu.edu" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
        </div>
        <div class="buttons">
            <button type="submit">Create account</button>
            <a href="{{ url_for('login') }}">I already have an account</a>
        </div>
        
    </form>
    
</body>
</html>
