<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Restaurant Roulette</title>
</head>
<body id="shuffleScreen" data-visi="{{winner}}">
    <header>
        <div id="appName"><a href="/home">RR</a></div>
        <div id="profile"><a href="/roulette">Roulette</a></div>
        <div id="addFriends"><a href="/friends">Friends</a></div>
        <div id="logOut"> <a href="/logout">Log Out</a></div>
    </header>


        <a><div id="shuffleButton">I'm Hungry!</div></a>

        <div id="shuffleResults">
            <p>You should go to: {{ winner }}</p>
            <a href="/roulette"> <div id="tryAgain">Again</div></a>
        </div>

    <script>
        let button = document.getElementById('shuffleButton');
        let results  =document.getElementById('shuffleResults');
        button.addEventListener('click' , function(){
            results.style.display = "block"
        });

    </script>
</body>
</html>