<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Restaurant Roulette</title>
</head>

<body id="shuffleScreen">
    <header>
        <div id="appName"><a href="/home">RR</a></div>
        <div id="profile"><a href="/roulette">Roulette</a></div>
        <div id="addFriends"><a href="/friends">Friends</a></div>
        <div id="logOut"> <a href="/logout">Log Out</a></div>
    </header>

        <a id="aShuffle"><div id="shuffleButton">I'm Hungry!</div></a>

        <div id="shuffleResults">
            <p>You should go to {{ restaurant.restaurantName }}!!</p>
                <div class="restaurant">
                    <div class="topHalf">
                        <div class="restName">{{ restaurant.restaurantName }}</div>
                        <div class="restLoc">{{ restaurant.restaurantLocation }}</div>
                    </div>
                    
                    <div class="bottomHalf">
                        <div class="bottomLeft">
                            <div class="cuisine">{{ restaurant.cuisine }}</div>
                            <div class="favDish">{{ restaurant.favDish }}</div>
                        </div>
                        <div class="bottomRight">
                            <div class="rating">{{ restaurant.rating }}/5</div>
                            <div class="price">{{ restaurant.price }}</div>
                        </div>
                    </div>
                </div>
            <a href="/roulette"> <div id="tryAgain">Again</div></a>
        </div>

    <script>
        let button = document.getElementById('shuffleButton');
        let results = document.getElementById('shuffleResults');

        button.addEventListener('click', function() {
            results.style.display = "flex"
            button.style.display = 'none'

        });
    </script>
</body>

</html>