<!DOCTYPE html>
{% extends 'base.html' %}

{% block container %}

<html>
  <head>
    <link
      rel="stylesheet"
      href="/static/css/search-user.css"
    />
  </head>
  <body>
    <div class="container"> 
      <div class="search-section">
        <form action="{{ url_for('userlist') }}" method="get" class="search-form">
            <input type="text" name="q" placeholder="Search username..." value="{{ search_term }}">
            <button type="submit">Search</button>
        </form>
      </div>
    </div>
  </body>
</html>
{% endblock %}