<!DOCTYPE html>

{% extends 'base.html' %}

{% block container %}

<html>

<head>
  <link rel="stylesheet" href="/static/css/delete-apt.css" />
</head>

<body>
  <div class="container">
    <div class="confirmation-message-container">
      <span class="confirmation-message">{{q_message}}</span>
    </div>

    <div class="userinfo-container">

      <div class="user-details-container">
        <div class="apt-widget">
          <div class="apt-content">
            <div class="apt-details">
              <p class="apt-price">${{apt.price}}/mo</p>
              {% if apt.bedroom == "Studio" %}
              <p class="apt-type-and-size">Studio {{apt.area}}</p>
              {% else %}
              <p class="apt-type-and-size">{{apt.bedroom}} Bd {{apt.bathroom}} Ba {{apt.area}}</p>
              {% endif %}
              <p class="apt-available-date">{{apt.available_date}}</p>
              <div class="apt-building-name-apt-num-container">
                <span class="apt-building-name">{{apt.building}}</span>
                <span class="apt-apt-num">{{apt.apt_num}}</span>
              </div>
            </div>
            <div class="apt-image">
              <div class="placeholder">Picture</div>
            </div>
          </div>
          <p class="apt-area">{{apt.city}}</p>
        </div>
      </div>

      <div class="confirmation-button-container">
        <form action="{{ url_for('house.update_house', house_id=apt.apt_num) }}" method="POST">

          {% for key, value in request.args.items() %}
          <input type="hidden" name="{{ key }}" value="{{ value }}">
          {% endfor %}

          <button type="submit">Yes</button>


        </form>

        <button>
          <nav>
            <a href="{{ url_for('house.get_all_houses') }}">No</a>
          </nav>
        </button>
      </div>

    </div>
</body>

</html>

{% endblock %}