<!DOCTYPE html>
<html>
    <head>
        <title>Workout App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <header>
          <h1 class="heading">Workout App</h1>
          <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('workouts') }}">Workouts</a>
            <a href="{{ url_for('diets') }}">Diet</a>
            <a href="{{ url_for('settings') }}">Settings</a>
          </nav>
        </header>
        
      {% for doc in docs %}
      <div class = "databox"> 
        <h2 >{{doc.workout_description}}</h2>
          <h3>{{doc.date.strftime("%H:%M on %d %B %Y")}}</h3>
          <p>{{doc.workout_type}}</p>
      </div>
      {%endfor%}

      </div>

    <footer>
    <a href="{{url_for('add_workout')}}" class = "circleButton add">Add</a>
    <a href="" class = "circleButton edit">Edit</a>
    </footer>
    </body>
</html>