<form action="/" method="Post">
    <label for="game" >Game Name:</label>
    <input type="text" id="game_name" placeholder="Game here"/>

    <label for="level" >Level:</label>
    <input type="text" id="level" placeholder="Game here"/><br>

    <label for="platform">Platform:</label>
    <select type="text" id="platform" >
        <option value ="">Select platform</option>
        <option value="PC">PC</option>
        <option value="Playstation">Playstation</option>
        <option value="Xbox">Xbox</option>
        <option value="Switch">Nintendo Switch</option>
        <option value="Mobile">Mobile</option>
    </select><br>
   
    <label for="role">Role:</label>
    <input type="text" id="role" placeholder=""/>


    <label for="description">Description:</label>
    <input type="text" id="role" placeholder="Desc"/>

    <label for="availability">Availability:</label>
    <input type="datetime-local" id="availability" name="availability" required><br>

    <label for="region">Region:</label>
    <input type="text" id="region" name="region" required placeholder="e.g., NA, EU, Asia"><br>

    <label for="created_by">Created By:</label>
    <input type="text" id="created_by" name="created_by" required placeholder="Your name or username"><br>

    <label for="contact">Contact:</label>
    <input type="email" id="contact" name="contact" required placeholder="Enter email or Discord tag"><br>


    <button type="submit">Create Post</button>
    </form>