<!DOCTYPE html>
<html>

<head>
    <title>getajob</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    <div class="container">
        <header>
            <h1>getajob</h1>
            <nav>
                <a href="/signup">signup</a>
                <a href="/login">login</a>
                <a href="/home">home</a>
                <a href="/track">track</a>
            </nav>
        </header>
        <main>{% block container %} {% endblock %}</main>
        <footer>
            <p>
                footer here
            </p>
        </footer>
    </div>
</body>

</html>