{% extends 'base.html' %}

{% block container %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

<main class="dashboard">
    <h1>Hello <span class="username">{{user.username}}</span>,</h1>
    <p>Welcome to your dashboard</p>

    <section class="stats">
        <div class="weekly">
            <p>Total Jobs Applied This Week:</p>
            <h2>{{ week }}</h2>
        </div>
        <div class="monthly">
            <p>Total Jobs Applied This Month:</p>
            <h2>{{ month }}</h2>
        </div>
    </section>

    <section class="monthly-insights">
        <h3>Monthly Insights</h3>
        <p>Out of <strong>{{ total }}</strong> total jobs applied, you have received:</p>

        <div class="insights">
            <div class="accepted">
                <h2>{{ accepted }}</h2>
                <p>Accepted</p>
            </div>
            <div class="interviewing">
                <h2>{{ interviewing }}</h2>
                <p>Interviewing</p>
            </div>
            <div class="rejected">
                <h2>{{ rejected }}</h2>
                <p>Rejected</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}