{% extends 'base.html' %}

{% block container %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
<img src="{{ url_for('static', filename='images/LandingDesign.png') }}" alt="Background Image">

<main class="landing-container">
    <header class="landing-header">
        <h1>GiveMeJob</h1>
        <div class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <section class="landing-content">
        <h2>Track, Apply, Succeed</h2>
        <h3>Stay Organized in Your Job Hunt!</h3>

        <div class="cta">
            <p>Easily manage your job applications, track progress, and never miss an opportunity—all in one place</p>
            <div class="cta-buttons">
                <a href="{{ url_for('login') }}" class="cta-button">Log-in</a>
                <a href="{{ url_for('signup') }}" class="cta-button">Sign-up</a>
            </div>
        </div>
    </section>
</main>
{% endblock %}
