{% extends 'base.html' %}

{% block container %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/track.css') }}">

<main>
    <form method="POST" class="search" action="/track">
        <div class="search-container">
            <select name="status" id="status">
                <option value="" disabled selected hidden>Search by...</option>
                <optgroup label="Status">
                    <option value="Applied">Applied</option>
                    <option value="Interviewing">Interviewing</option>
                    <option value="Rejected">Rejected</option>
                </optgroup>
                <optgroup label="Date">
                    <option value="ascending">Most recent (default)</option>
                    <option value="descending">Least recent</option>
                </optgroup>
            </select>
        </div>
    </form>

    <table class="app labels">
        <tr>
            <th><img src="{{ url_for('static', filename='images/Magnifying.png') }}" alt="Magnifying Icon" class="magnifying-img"></th> 
            <th>Company</th>
            <th>Role</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
        {% for app in applications %}
        <tr class="app">
            <td class="search-icon"><img src="{{ url_for('static', filename='images/Magnifying.png') }}" alt="Search Icon" class="magnifying-img"></td>
            <td class="company">{{ app.company }}</td>
            <td class="role">{{ app.role }}</td>
            <td class="status">{{ app.status }}</td>
            <td class="date">{{ app.date }}</td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock %}
