.Back {
    margin-top: 10%;
    margin-left: 10%;
    flex-direction: column;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 20vw;
    height: 5vh;
    border: solid;
    font-size: 5vw;
}

a {
    text-decoration: none;
}

.Title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    margin-top: 5%;
    padding: 10vw;
    flex-direction: column;
}
