.Title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    margin-top: 5%;
}

.Location {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

.Middle {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.Bakery.image {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
   width: 70vw;
   height: 70vw;
   border-radius: 25px;
    
}
.Choice {
    margin-top: 3%;
    flex-direction: column;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.Menu {
    margin-top: 10%;
    width: 50vw;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2vw;
    border: solid;
}
.Login {
    margin-top: 5%;
    width: 50vw;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2vw;
    border: solid;
}
.Contact {
    margin-top: 5%;
    width: 50vw;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2vw;
    border: solid;
}

a {
    text-decoration: none;
}