<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
</head>
<body>
    <h1>Checkout</h1>
    <ul>
        {% for item in cart_items %}
        <li>
            <strong>{{ item.name }} </strong> —
            Quantity: {{ item.quantity }} |
            Price: ${{ item.price }} each |
            Subtotal: ${{ item.total }}
        </li>
        {% endfor %}
    </ul>
    <h2>Total Price: ${{ total_price }}</h2>
    <p>
        <a href="{{ url_for('cart') }}">Back to Cart</a>
    </p>

    <h2>Enter Your Details</h2>
    <form action="{{ url_for('submit_order') }}" method="POST">
        <label for="name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name" required><br><br>

        <label for="name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name" required><br><br>

        <label for="email">Email Address:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="delivery_method">Delivery or Pickup:</label><br>
        <select id="delivery_method" name="delivery_method" required>
            <option value="pickup">Pickup</option>
            <option value="delivery">Delivery</option>
        </select><br><br>

        <label for="shipping_address">Shipping Address:</label><br>
        <input type="text" id="shipping_address" name="shipping_address"><br><br>


        <label for="card_number">Credit Card Number:</label><br>
        <input type="text" id="card_number" name="card_number" 
            pattern="\d{16}" 
            title="Credit card number must be a 16 digit number" 
            required><br><br>

        <label for="cvv">CVV (Security Code):</label><br>
        <input type="text" id="cvv" name="cvv" 
            pattern="\d{3}" 
            title="CVV must be a 3 digit number" 
            required><br><br>

        <label for="zip">Zip Code:</label><br>
        <input type="text" id="zip" name="zip"
            pattern="\d{5}" 
            title="Zipcode must be a 5 digit number" 
            required><br><br>

        <input type="submit" value="Pay and Submit Order">
    </form>

</body>
</html>
