<!DOCTYPE html>
    <html>
        <head>
            <title>
                Anatidelicious
            </title>
            <link rel="stylesheet" href="../static/contact.css">
        </head>

        <body>
            <a href="{{ url_for('home') }}">
                <div class="Back"> 
                    Back
                </div>
            </a>

            <div class="Title">
                <h1>We want to hear from you!</h1>
            </div>
            <div class="firstlabel">
                <label for="lname">Write your message here: </label><br>
            </div>
            <div class="Input">
                <textarea style="background-color: #F8F5E5; border: solid #F9DFA0;" type="text" id="text" name="text_name" class="MyText"> </textarea>
                
                <textarea style="background-color: #F8F5E5; border: solid #F9DFA0;" type="text" id="text" name="text_name" class="Email"> Enter your email: </textarea>
                <input type="submit" value="Submit" class="Submit">
            </div>
            
        </body>
    </html>