<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BobstLAF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <h1>BobstLAF</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                    <li><a href="#">Page 4</a></li>
                </ul>
            </nav>
        </header>
        <main>{% block container %} 
            


        {% endblock %}</main>
        <footer>
          
        </footer>
      </div>
</body>