<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Orders</title>
</head>
<body>
    <h1>Thank You for Your Patronage!</h1>
    <br>
    <h2>Order History</h2>
    <ul>
        {% for order in orders %}
        <li style="margin-bottom: 20px;">
            <strong>{{ order.first_name }}</strong> <strong>{{ order.last_name }}</strong> - {{ order.delivery_method | capitalize }} <br>
            Address: {{ order.shipping_address }} <br>
            Last 4 Digits of Card: **** **** **** {{ order.last_four }} <br>
            <strong>Items: </strong>
            <ul>
                {% for item in order['items'] %}
                <li style="margin-bottom: 10px;">
                    <strong>{{ item.name }} </strong> —
                    Quantity: {{ item.quantity }} |
                    Price: ${{ item.price }} each |
                    Subtotal: ${{ item.total }}
                </li>
                {% endfor %}
            </ul>
            <strong>Total Price: ${{ order.total_price }}</strong>
            <br>
            <br>
            <a href="{{ url_for('delete_order', order_id=order.order_id) }}">Remove From Order History</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('home') }}">Return Home</a>
</body>
</html>