<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Recipes</title>
    <link rel="stylesheet" href="../../css/explore.css">
</head>
<body>

    <header>
        <h1>Recipe Share</h1>
    </header>

    <div style="border: 1px solid black;">
        <div class='recipe-list'>
            <div class="recipe-display">
                <div class="image">
                    <img src="/assets/recipe.jpg" alt="image">
                </div>
                <p class="recipe-name"> Recipe Name</p>
            </div>

            <div class="recipe-display">
                <div class="image">
                    <img src="/assets/recipe.jpg" alt="image">
                </div>
                <p class="recipe-name">  Recipe Name</p>
            </div>

            <div class="recipe-display">
                <div class="image">
                    <img src="/assets/recipe.jpg" alt="image">
                </div>
                <p class="recipe-name">  Recipe Name</p>
            </div>

            <div class="recipe-display">
                <div class="image">
                    <img src="/assets/recipe.jpg" alt="image">
                </div>
                <p class="recipe-name">  Recipe Name</p>
            </div>
        </div>
    
    </div>

    <a href="../editpage.html">
        <button>Edit Receipe  </button>
    </a>
    
</body>
</html>
